extends templates/layout
block titulo
  | !{alianca.nome}
block posHead
    link(rel="stylesheet", href="stylesheets/xbbcode.css")
block content     
    .table-responsive
        table.table.table-striped#tabela-geral-alianca
            tbody 
                tr
                    td Nome:
                    td.nome !{alianca.nome}
                tr
                    td TAG:
                    td.tag !{alianca.tag}
                tr
                    td Membros:
                    td.membros-contagem !{totalMembros}
                tr
                    td(colspan ="2").hidden#pagina-externa !{alianca.paginaExterna}
    -if(userdata.alianca == null && aplicacao == false)
        .row
            .col-md-offset-4.col-md-4.text-center
                button.btn.btn-primary.btn-lg.btn-block#btn-enviar-aplicacao Enviar Aplicação
        #modal-aplicacao.modal.fade(role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Enviar aplicação
                    .modal-body
                        .row
                            #conteudo-enviar-esqueci.col-md-offset-1.col-md-10.col-sm-12
                                form(onsubmit='return false')
                                    .form-group
                                        .form-group
                                            label(for='aplicacao') Texto da aplicação: 
                                            textarea(name='aplicacao', rows = '10', style = "resize: vertical; width:100%")#aplicacao-text.form-control
                                    .row
                                        .col-md-12.text-center
                                            button.btn.btn-primary.btn-lg.btn-block(type='submit') Enviar
    
    
block posscripts
    script(src = "js/xbbcode.js")
    script.
        var resultExterna = XBBCODE.process({
            text: $("#pagina-externa").text(),
            removeMisalignedTags: false,
            addInLineBreaks: false
        });
        $("#pagina-externa").html(resultExterna.html)
        $("#pagina-externa").removeClass("hidden")
        var aliancaID = !{alianca.id}
        var aplicacaoTexto = "!{alianca.aplicacao_template}"
        $("#aplicacao-text").html(aplicacaoTexto.replace(/<br \/>/g, '\n'))
        $("#btn-enviar-aplicacao").on('click', function()
        {
            $("#modal-aplicacao").modal("show");
        })

        $("#modal-aplicacao form").on('submit', function(){
            var params = FormToAssocArray($(this))
            var btn = $(this).find("button")
            params.alianca = aliancaID
            $.ajax({
                url : 'alianca/aplicar-alianca',
                method : 'POST',
                data : params,
                beforeSend : function()
                {
                    btn.text("Enviando...")
                },
                success : function()
                {
                    GerarNotificacao("Aplicação enviada com sucesso", 'success')
                },
                error : function(err)
                {
                    GerarNotificacao(err.responseText, 'danger')
                },
                complete : function()
                {
                    btn.text("Enviar")
                }
            })
        })
