doctype html
html
  head
    title  
      block titulo
      |  - Imperium
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "author" content = "Christian Lemos")
    link(rel = "icon", href = "/images/logo_pre.png")
    
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/bootstrap-theme.min.css")
    link(rel='stylesheet', href="/stylesheets/animate.css")
    link(rel='stylesheet', href="/stylesheets/fontawesome-all.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/jquery.js")
    script(src="js/socket.io.js")
    script(src="js/util.js")
    - if(typeof(userdata) !== 'undefined'){
      script.
        const userdataString = '!{JSON.stringify(userdata).replace(/[\/\(\)\']/g, "\\$&")}'
        var userdata = JSON.parse(userdataString);
        const socket = io.connect('!{enderecoIP}:!{ioPort}')
        socket.on('connect', function()
        {
          socket.emit('init', userdata.sessionID);
        });
    -}
  body
  
    include ./../includes/navbar
    include ./../includes/aside-navbar
    main
      -if(userdata)
        each setor in userdata.setores
          ul
            li
              a(href="/setor?id=" + setor.setor.id).link-planeta= setor.setor.nome
                |  [!{setor.setor.posX}, !{setor.setor.posY}]
              ul
                each planeta in setor.planetas
                  if(planeta.colonizado)
                    li 
                      a(href = "/recursos").link-planeta= planeta.nome
                        |  [!{planeta.posX}, !{planeta.posY}]
      block content
      
      
       
    script(src="js/bootstrap.min.js")
    script(src="js/bootbox.min.js")
    script(src="js/bootstrap-notify.min.js")
    script(src="js/meta/view_planeta_parser.js")
    script(src="js/recursos.js")
    block posscripts
    script.
      $(document).ready(function()
      {
        $(".link-planeta").each(function()
        {
           _url = $(this).attr('href');
           _url += (_url.split('?')[1] ? '&':'?') + 'planetaid=' + planeta.id;
          $(this).attr('href', _url)
        })
      });